---
import BaseLayout from "../layouts/Layout.astro";
import { DATA } from "../data/site";
---

<BaseLayout title={`Tracker | ${DATA.author}`}>
  <div class="split-layout">
    <div class="left-column">
      <p>WIP</p>
    </div>
  </div>
</BaseLayout>
