---
import BaseLayout from "../layouts/Layout.astro";
import TrackerTable from "../components/TrackerTable.astro";
//import GifComp from "../components/GifComp.astro";
import TrackerData from "../data/tracker-info.json";
import { DATA } from "../data/site";
---

<BaseLayout title={`Tracker | ${DATA.author}`}>
  <div class="split-layout">
    <div class="left-column">
      <p>WIP</p>
    </div>
    <div class="right-column">
      <TrackerTable headers={TrackerData.headers} rows={TrackerData.rows} />
    </div>
  </div>
</BaseLayout>
